<h1> TRYNA BUILD SOMETHIN', HUH?</h1>

<form method="POST" action="/landmarks">
  <p>Landmark Name: <input type="text" id="landmark_name" name="landmark[name]"></p>
  <p>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
  <input type="submit" id="Create New Landmark">
</form>
